body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-111px;
  width:880px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242901_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:889px;
  height:909px;
}
#u242901 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:71px;
  width:880px;
  height:900px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u242901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242902 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:119px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u242902_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242902_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242903 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:119px;
  width:641px;
  height:17px;
  overflow:hidden;
}
#u242903_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242903_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242904 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:119px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u242904_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242904_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:49px;
}
#u242905 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:71px;
  width:880px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u242905_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:13px;
  width:832px;
  word-wrap:break-word;
}
#u242906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u242906 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:88px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u242906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242907 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:71px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u242907_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242907_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u242908 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:86px;
  width:18px;
  height:18px;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(121, 121, 121, 0.647058823529412);
}
#u242908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242909 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:77px;
  width:17px;
  height:38px;
  overflow:hidden;
}
#u242909_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242909_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u242911 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:135px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u242911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u242912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u242912 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:119px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u242912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u242913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u242913 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:159px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u242913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u242914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242915 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:175px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242916 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:175px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242916_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u242917 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:197px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u242918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242919 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:355px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242920 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:355px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242920_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242921 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:377px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242923 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:393px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:23px;
}
#u242924 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:393px;
  width:237px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242924_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u242925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242925 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:415px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242927 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:213px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u242928 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:213px;
  width:360px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242928_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u242929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242929 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:257px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u242931 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:273px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u242932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:67px;
}
#u242932 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:273px;
  width:388px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u242932_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u242933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242933 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:339px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u242935 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:447px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u242935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u242936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u242936 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:431px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u242936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u242937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u242937 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:471px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u242937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u242938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u242939 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:487px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u242940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242940 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:487px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242940_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u242941 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:509px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u242942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u242943 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:525px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u242944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242944 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:525px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242944_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242945 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:547px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u242947 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:601px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u242947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u242948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242948 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:601px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242948_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u242949 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:623px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u242950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u242950 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:605px;
  width:14px;
  height:14px;
}
#u242950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u242952 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:563px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u242952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u242953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242953 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:563px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242953_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u242954 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:585px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u242955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u242956 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:639px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u242956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242957 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:639px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242957_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:17px;
}
#u242958 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:661px;
  width:372px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u242959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u242960 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:817px;
  width:14px;
  height:14px;
}
#u242960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242961 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:791px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:45px;
}
#u242962 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:791px;
  width:329px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242962_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u242963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242963 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:835px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u242965 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:677px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u242965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242966 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:677px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242966_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:17px;
}
#u242967 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:699px;
  width:368px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:364px;
  word-wrap:break-word;
}
#u242968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:853px;
}
#u242968 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:119px;
  width:240px;
  height:852px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u242968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u242969 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:135px;
  width:191px;
  height:38px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242969_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u242970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u242970 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:173px;
  width:191px;
  height:38px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242970_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u242971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u242971 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:210px;
  width:191px;
  height:38px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242971_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u242972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u242972 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:248px;
  width:191px;
  height:38px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242972_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u242973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u242973 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:285px;
  width:191px;
  height:38px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242973_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u242974 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:119px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u242974_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242974_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242975 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:119px;
  width:240px;
  height:17px;
  overflow:hidden;
}
#u242975_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242975_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242976 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:119px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u242976_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u242976_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u242978 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:753px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u242978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u242979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
}
#u242979 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:753px;
  width:279px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242979_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u242980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u242980 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:775px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u242981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u242982 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:715px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u242982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u242983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u242983 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:715px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u242983_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u242984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u242984 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:737px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u242984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
