body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11215_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:649px;
  height:909px;
}
#u11215 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:30px;
  width:640px;
  height:900px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:49px;
}
#u11217 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:30px;
  width:640px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:48px;
}
#u11217_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u11218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11220 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:48px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u11220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11221 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:30px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u11221_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11221_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:49px;
}
#u11222 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:882px;
  width:640px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u11222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11223 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:882px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u11223_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11223_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11225 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:78px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u11225_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11226 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:78px;
  width:641px;
  height:17px;
  overflow:hidden;
}
#u11226_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11226_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11227 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:78px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u11227_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11227_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u11229 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:889px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u11229_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u11230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u11230 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:889px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u11230_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u11231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
}
#u11231 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:890px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11231_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u11232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
}
#u11232 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:890px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11232_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u11233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u11233 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:906px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#E8E8E8;
}
#u11233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u11234 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:889px;
  width:89px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11234_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u11235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u11236 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:94px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u11236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11237 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:94px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11237_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u11238 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:116px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u11239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u11240 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:132px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u11240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11241 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:132px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11241_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u11242 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:154px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u11243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u11244 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:398px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u11244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u11245 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:398px;
  width:360px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11245_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u11246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u11246 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:442px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u11247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u11248 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:360px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u11248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
}
#u11249 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:360px;
  width:279px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11249_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u11250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u11250 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:382px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u11251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u11252 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:208px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u11252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u11253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11253 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:208px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11253_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u11254 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:230px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u11255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u11256 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:170px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u11256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11257 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:170px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11257_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u11258 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:192px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u11259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u11260 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:246px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u11260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11261 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:246px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11261_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:17px;
}
#u11262 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:268px;
  width:372px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u11263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u11264 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:284px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u11264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11265 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:284px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11265_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:17px;
}
#u11266 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:306px;
  width:368px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:364px;
  word-wrap:break-word;
}
#u11267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u11268 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:322px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u11268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u11269 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:322px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u11269_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u11270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u11270 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:344px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u11270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
