body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1679px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1679px;
  height:941px;
}
#u13991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1679px;
  height:941px;
}
#u13991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:887px;
}
#u13992 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:255px;
  width:1211px;
  height:887px;
}
#u13992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
