body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-64px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168149_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:1009px;
  height:556px;
}
#u168149 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:39px;
  width:1000px;
  height:547px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u168149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168150 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:87px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u168150_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168151 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:87px;
  width:1001px;
  height:17px;
  overflow:hidden;
}
#u168151_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168151_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168152 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:87px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u168152_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:2px;
}
#u168154 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:312px;
  width:451px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#E8E8E8;
}
#u168154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168155 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:87px;
  width:25px;
  height:12px;
  overflow:hidden;
}
#u168155_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168155_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168156 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:87px;
  width:25px;
  height:12px;
  overflow:hidden;
}
#u168156_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168156_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:49px;
}
#u168158 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:39px;
  width:1000px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:48px;
}
#u168158_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:952px;
  word-wrap:break-word;
}
#u168159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u168160 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:57px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u168160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168161 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:39px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u168161_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:49px;
}
#u168163 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:538px;
  width:1000px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u168163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u168164 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:546px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u168164_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u168165 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:538px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u168165_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u168165_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u168166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u168168 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:158px;
  width:10px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u168168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u168169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u168169 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:152px;
  width:139px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u168170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168171 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:182px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168172 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:186px;
  width:14px;
  height:14px;
}
#u168172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168174 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:212px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168175 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:216px;
  width:14px;
  height:14px;
}
#u168175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168177 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:273px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168180 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:279px;
  width:14px;
  height:14px;
}
#u168180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u168181 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:281px;
  width:10px;
  height:10px;
}
#u168181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168183 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:303px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168184 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:307px;
  width:14px;
  height:14px;
}
#u168184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u168186 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:249px;
  width:10px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u168186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u168187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u168187 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:243px;
  width:139px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u168188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u168189 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:337px;
  width:10px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u168189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u168190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u168190 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:331px;
  width:139px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u168191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168192 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:361px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168193 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:365px;
  width:14px;
  height:14px;
}
#u168193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u168195 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:391px;
  width:72px;
  height:30px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u168196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168196 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:395px;
  width:14px;
  height:14px;
}
#u168196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
}
#u168199 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:103px;
  width:182px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168199_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u168200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u168200 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:112px;
  width:14px;
  height:14px;
  opacity:0.43;
}
#u168200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u168202 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:227px;
  width:300px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u168203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168203 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:257px;
  width:300px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168203_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u168204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168204 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:289px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u168206 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:227px;
  width:74px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u168207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168208 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:257px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168208_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u168209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u168210 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:264px;
  width:14px;
  height:13px;
  opacity:0.43;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u168210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u168211 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:266px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u168211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u168212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168212 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:289px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u168214 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:305px;
  width:300px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u168215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168215 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:335px;
  width:300px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168215_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u168216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168216 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:367px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u168218 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:305px;
  width:300px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u168219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168219 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:335px;
  width:300px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168219_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u168220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168220 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:367px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u168222 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:383px;
  width:300px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u168223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168223 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:413px;
  width:300px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168223_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u168224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168224 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:445px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u168226 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:383px;
  width:300px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u168226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u168227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u168227 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:413px;
  width:300px;
  height:32px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u168227_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u168228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u168228 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:445px;
  width:300px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:6px;
}
#u168228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u168229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u168229 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:546px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#48A1FF;
  text-align:right;
  line-height:22px;
}
#u168229_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u168230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u168231 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:143px;
  width:85px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u168231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u168232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:23px;
}
#u168232 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:143px;
  width:265px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168232_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u168233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u168233 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:165px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u168233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u168234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u168235 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:143px;
  width:85px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u168235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u168236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:23px;
}
#u168236 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:143px;
  width:265px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u168236_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u168237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u168237 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:165px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u168237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u168238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u168239 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:103px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u168239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u168240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:17px;
}
#u168240 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:87px;
  width:522px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u168240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u168241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:17px;
}
#u168241 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:127px;
  width:522px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u168241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u168242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u168243 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:187px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u168243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u168244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:17px;
}
#u168244 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:171px;
  width:522px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u168244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u168245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:17px;
}
#u168245 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:211px;
  width:522px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u168245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
