body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-38px;
  width:1524px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u265243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:582px;
}
#u265243 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:34px;
  width:1524px;
  height:582px;
}
#u265243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1519px;
  height:571px;
}
#u265244 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:645px;
  width:1519px;
  height:571px;
}
#u265244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1518px;
  height:1207px;
}
#u265245 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1253px;
  width:1518px;
  height:1207px;
}
#u265245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
