body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-37px;
  width:1528px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u267190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:843px;
}
#u267190 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:37px;
  width:1523px;
  height:843px;
}
#u267190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:1196px;
}
#u267191 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:909px;
  width:1522px;
  height:1196px;
}
#u267191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1528px;
  height:605px;
}
#u267192 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:2141px;
  width:1528px;
  height:605px;
}
#u267192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
