body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-36px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13813_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:649px;
  height:909px;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:88px;
  width:640px;
  height:900px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:49px;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:88px;
  width:640px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:48px;
}
#u13815_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:106px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u13818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:88px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u13819_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:49px;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:940px;
  width:640px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u13820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:940px;
  width:25px;
  height:49px;
  overflow:hidden;
}
#u13821_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13821_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:136px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u13823_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13823_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:136px;
  width:641px;
  height:17px;
  overflow:hidden;
}
#u13824_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13824_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:136px;
  width:25px;
  height:204px;
  overflow:hidden;
}
#u13825_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13825_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:152px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u13827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:136px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u13828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u13829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:176px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u13829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:192px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:192px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13832_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:214px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:372px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:372px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13836_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:394px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:410px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:23px;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:410px;
  width:237px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13840_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u13841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:432px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:230px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:230px;
  width:360px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13844_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u13845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:274px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:290px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:67px;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:290px;
  width:388px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u13848_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u13849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13849 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:356px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u13851 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:464px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u13851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u13852 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:448px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u13852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u13853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u13853 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:488px;
  width:436px;
  height:16px;
  opacity:0;
  color:#FFFFFF;
}
#u13853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u13854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u13855 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:504px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13856 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:504px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13856_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u13857 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:526px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u13858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u13859 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:542px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13860 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:542px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13860_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13861 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:564px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13863 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:808px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:45px;
}
#u13864 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:808px;
  width:360px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13864_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u13865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13865 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:852px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u13867 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:770px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u13867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
}
#u13868 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:770px;
  width:279px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13868_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u13869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:17px;
}
#u13869 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:792px;
  width:350px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u13870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u13871 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:618px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u13871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u13872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:618px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13872_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:640px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:580px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u13875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:580px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13876_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:602px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:656px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u13879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:656px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13880_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:17px;
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:678px;
  width:372px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:694px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u13883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:694px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13884_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:17px;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:716px;
  width:368px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:364px;
  word-wrap:break-word;
}
#u13886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:948px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u13886_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u13887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:948px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F5222D;
  text-align:left;
  line-height:22px;
}
#u13887_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u13888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:948px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13888_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u13889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:948px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13889_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u13890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:948px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u13890_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u13891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:964px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#E8E8E8;
}
#u13891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:948px;
  width:17px;
  height:2px;
  overflow:hidden;
}
#u13892_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13892_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:948px;
  width:17px;
  height:2px;
  overflow:hidden;
}
#u13893_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13893_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:732px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
}
#u13895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:732px;
  width:251px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u13896_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u13897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:754px;
  width:400px;
  height:16px;
  opacity:0;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
