body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-33px;
  width:2124px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2117px;
  height:948px;
}
#u27919 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:43px;
  width:2117px;
  height:948px;
}
#u27919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2085px;
  height:772px;
}
#u27920 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1016px;
  width:2085px;
  height:772px;
}
#u27920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2124px;
  height:893px;
}
#u27921 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1823px;
  width:2124px;
  height:893px;
}
#u27921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2103px;
  height:810px;
}
#u27922 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:2749px;
  width:2103px;
  height:810px;
}
#u27922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2117px;
  height:837px;
}
#u27923 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:3588px;
  width:2117px;
  height:837px;
}
#u27923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2101px;
  height:831px;
}
#u27924 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:4452px;
  width:2101px;
  height:831px;
}
#u27924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
